
.background_clr {
    background-color: var(--color-gray100);

}

.square_icon {
    height: 4rem;
    aspect-ratio: 1;
    border-radius: 6px;
    background-color: var(--color-gray200);
    position: relative;

    img {
        height: 50%;
        /* padding: .1rem; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

.circle_icon {
    display: block;
    background-color: var(--color-white);
    height: 2.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;

    
    img {
        padding: .75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* SECTION ONE - CONTACT */

.navigate {
    display: none;
}

.contact_section {
    padding-bottom: 3rem;
    
    display: grid;
    gap: 2.5rem;
}

.contact_box {
display: grid;
gap: 1rem;
padding-top: 2rem;

}

/* #contact_header {grid-area: c_h;}
#contact_email {grid-area: c_email;}
#contact_career {grid-area: c_career;}
#consult_box {grid-area: consult;} */




.contact_card {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    gap: 1rem;


    p {
        margin: 1rem 0;
    }
}


/* Consult */
.consult_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem;
    height: fit-content;
    width: 100%;
    /* justify-content: center; */
    background-color: white;
    border-radius: 8px;
    
}

.form_primary {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-gray900);

    input, select {
        font-size: 1.125rem;
        padding: .5rem .8rem;
        width: 100%;
        margin-bottom: 1.3rem;
        border:1px solid var(--color-gray400);
        border-radius: 8px;
    }

    button {
        font-size: 1rem;
        margin-top: 3rem;
        padding: .8rem;

        @media (min-width: 1200px) {
            margin-top: 7rem;
            
        }
    }
    
}


/* SECTION TWO - DIRECTIONS  */
.direction_section {}

.direction_map {
    display: none;
}

/* .direction_box */

.direction_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direction_card {
    display: grid;
    grid-template-areas: 
    "d_header d_header"
    "di_pin dt_pin"
    "di_call dt_call"
    "di_clock dt_time";

    grid-template-columns: auto 1fr ;

    gap: 1em;
    text-align: left;
    width: 100%;
    padding: 1.5rem 3rem;

    h4 {
        text-align: center;
    }
}

.dir_header {grid-area: d_header;}
.dirimg_pin {grid-area: di_pin;}
.dirimg_call {grid-area: di_call;}
.dirimg_clock {grid-area: di_clock;}

.dirtxt_pin {grid-area: dt_pin}
.dirtxt_call {grid-area: dt_call}
.dirtxt_time {grid-area: dt_time}


.social_card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2rem;
}






@media ( min-width: 768px ) { 

/* SECTION ONE - CONTACT */
.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.contact_box {
    gap: 2rem;
    padding-bottom: 2rem;
}

#contact_header {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

#contact_email {
    grid-column: 1/2;
    grid-row: 2/3;
}

#contact_career {
    grid-column: 2/3;
    grid-row: 2/3;
}

.circle_icon {
    height: 3.75rem;

    img {
        padding: 1.1rem;
    }
}

.consult_box {
    max-width: 750px;
    box-shadow: 0px 4.8px 24.4px -6px hsla(250, 36%, 10%, 0.1);
    box-shadow: 0px 4px 13px -2px hsla(250, 36%, 10%, 0.06);
    
}

/* SECTION TWO - DIRECTIONS  */

.direction_map {
    padding-top: 2rem;
    display: block;
    height: 100%;
        object-fit: cover;
    min-width: 300px;
    grid-area: dir_map;
}

.direction_section {
    display: grid;
    grid-template-areas: 
    "dir_map dir_box"
    "dir_map dir_box";

}

.direction_box {
    grid-area: dir_box;
}



/* .direction_box {
    display: grid;
    grid-template-areas: 
    "dir_card1 dir_card2"
    "soc_card soc_card";

}

#direction_card1 {grid-area: dir_card1;}
#direction_card2 {grid-area: dir_card2;}
.social_card {grid-area: soc_card;} */



}

@media (min-width : 1200px) {   
    
.navigate {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    p, a {
        font-size: .87em;
        color: var(--color-gray600)

    }
}

    .contact_section {
        /* justify-content: left; */
        /* align-items:start; */
        display: grid;
        /* grid-template-rows: 1fr 1fr; */
        gap: 0;
        position: relative;
    }

    .contact_box {
        padding-bottom: 5rem;
    }
    #contact_header {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
    }

    #contact_email {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #contact_career {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    /* .empty {
        grid-column: 2/3;
        grid-row: 1/4;
    } */

    

    .contact_card {
        max-width: 500px;
    }

    .consult_box {
        /* display: block; */
        position: absolute;
        max-width: 600px;
        padding: 5rem;
        top: 3rem;
        right: 0;
    }

/* SECTION TWO - DIRECTIONS  */
.direction_section {
    margin-top: 11rem;
}


    }
 }