:root[data-theme= 'dark']  {
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-success: #22C55E;
    --txtclr-heading: #131022;
    --color-gray900: #0B0F19;
    --color-gray800: #33354D;
    --color-gray700: #565973;
    --color-gray600: #9397AD;
    --color-gray500: #B4B7C9;
    --color-gray400: #D4D7E5;
    --color-gray300: #E2E5F1;
    --color-gray200: #EFF2FC;
    --color-gray100: #F3F6FF;
    --color-text: #fff;
    --color-breadtext: #585C7B;
    --color-white: #fff;
    --color-navlink: white;

    --color-error: #EF4444;
    --color-error-bg: hsla(0, 84%, 60%, 0.12);
    --color-success: #22C55E;
    --color-success-bg: hsla(142, 71%, 45%, 0.12);


    --btn-primary-hover: transparent;
    --btn-primary-active: hsla(239, 70%, 56%, 0.3);
    --btn-arrow: rgba(255, 255, 255, 0.05);
    --btn-arrow-hover: #6366F1;
    --btn-arrow-active: #4f51d6;
    --btn-appbtn: #EFF2FC;
    --btn-appbtn-hover: 0px 8px 18px -8px rgba(255, 255, 255, 0.5);

    --icon-features: #171B25;
    --icon-features-hover: #12151d;

    --clr-bg: #0B0F19;
    --clr-bg-secondary: rgba(255, 255, 255, 0.07);
    --clr-bg-gradient: rgb(99,102,241);
    --clr-bg-gradient2: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 50%, rgba(19, 16, 35, 0.01) 83%);
    --clr-bg-menu: #202237;
    --clr-bg-menu2: linear-gradient(0deg, #0B0F19, #202237);
    --clr-bg-review:rgba(255, 255, 255, 0.04);
    --clr-bg-accordion: #131022;
    --clr-border-accordion: rgba(255, 255, 255, 0.15);
    --clr-bg-form: #171B25;
    --clr-border-question: rgba(255, 255, 255, 0.15);
    --clr-bg-input: rgba(255, 255, 255, 0.02);
    --clr-border-input: rgba(255, 255, 255, 0.18);
    --clr-txt-input: #B4B7C9;
    --clr-placeholder-input: #565973;

    --container-padding: 1rem;
    --fontsize-18: 18px;
    --fontsize-16: 16px;
    --fontsize-14: 14px;
    --transition-toggler: all 0.2s;
    --transition-btn: all 0.15s;
}


.darkmode {
        
    .form_primary {
        option {
            background-color: #0B0F19;
        }

        option:hover {
            background-color: #22C55E;
        }

        label {
            color: white;
        }

    }

    /* FRONTPAGE */
    /* HEADER */
    .navlink {
        color: --color-navlink;
    }

    .logo_dark {
        display: none;
    }

    .logo_light {
        display: block;
    }


    /* PAGE ONE */
    .appimg-light {
        display: none;
    }

    .appimg-dark {
        display: block;
    }

    .discover-btn {
        p {
                opacity: 70%;
            }
        .img {
            opacity: none;
        }
    }

    .vectorarrow {
        .arrow-dark {
            display: none;
        }
        .arrow-light {
            display: block;
        }
    }


    /* PAGE TWO */
    .page_features {
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }


    /* PAGE THREE */
    .page_how {
        p {
            color: var(--color-breadtext);
        }
    }


    /* PAGE FOUR */
    .page_transfer-receive {
        li {
            color: rgba(255, 255, 255, 0.7);
        }
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }


    /* PAGE FIVE */
    .review {
        h6 {
            color:var(--color-white);
        }
    }


    /* PAGE SIX */
    .question_text {
        p {
            color: var(--color-breadtext);
        }
    }

    .accordion {
        label {
            color: var(--color-white);
        }
    }

    .acc_content {
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    label::after {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }

    .questions_call-txt {
        p {
            color: var(--color-gray700);
        }
    }


    /* PAGE SEVEN */
    .page_news { 
        background-color: var(--clr-bg-form);
    }


    /* FOOTER */
    footer {
        p {
            color: var(--color-gray600)
        }
    }



    @media ( min-width: 768px ) {
        /* PAGE ONE */
        .maintext {
            p {
                color: var(--color-breadtext);
            }
        }

        /* BRANDBOX */
        .brand-box {
            background-color: var(--txtclr-heading);
            border: 1px solid rgba(255, 255, 255, 0.15);
        }

        /* PAGE SEVEN */
        .accordion {
            label {
                background-color: rgba(255, 255, 255, 0.04);
            }
            input:checked + label  {
                border-radius: 8px 8px 0px 0px;
            }
        }
        
        .accordion_box {
            border-radius: 0;
        }

        .acc_content {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }

    @media (min-width : 1200px) {
        .maintext {
            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        /* PAGE TWO */
        .page_features {
            p {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        /* PAGE THREE */
        .page_how {
            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}


